{% extends 'base.html' %}

{% block contents %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <img src="{% static 'dog.jpeg' %}" height="400" alt"강아지">
    <br>
    {% for static in portfolio.all %}
    {{static.title}}
    <img src="{{static.img.url}}" height="400">
    {% endfor %}

{% endblock %}
</body>
</html>